* {
    margin: 0;
}

html {
    min-height: 100%;
}
body {
    margin-bottom: 0px;
}

html, body {
}

#sidebar{
    position: fixed;
    padding-left: 5px;
    padding-top: 10px;
    float: left;
    width: 23%;
}

#footer {
    bottom: 0;
    width: 100%;
    height: 50px;
}

#content{
    margin-top: 80px;
}

.author-labels{
    margin-left:50%;
}

.author-labels{
    margin-left:50%;
}

.author-labels{
    margin-left:60%;
}

.tag-labels{
    margin-left:20%;
    margin-bottom: 15px;
}

.news-record{
    margin-bottom: 20px;
    margin-left: 3px;
}

.list-news-title{
    display:block;
    clear: both;
}

.news-creation-date{
    display:block;
    clear: both;
    margin-bottom: 20px;
}

.creation-date{
    font-size:16px;
}

.news-short-text{
    margin-top:5px;
}

.news-row:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.single-news-container{
    margin-top: 15px;
    min-height: 75%;
}

.news-container{
    min-height: 80%;
    margin-top: 10px;
    margin-left: 24%;
    margin-bottom: 50px;
}

.list-row{
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
}

.add-form{
    margin-top: 70px;
}

.localization-links{
    margin-top: 10px;
    float: right;
    margin-right: 20px;
}

.search-bar{
    display: flex;
}

.author-select-filter{
    flex: 1;
    margin-left: 10px;
}

.tag-select-filter{
    flex: 1;
}

.buttons-filter{
    flex: 1;
}

.hidden-button{
    display: none;
}

.author-label{
    width: 14%;
}

.footer{
    margin-bottom: 0;
}

#hello-message{
    color:white;
    margin-left: 50%;
    margin-top: 30px;
}

#logout{
    margin-top: 10px;
}

#logout-wrapper{
    margin-right: 80px;
}

#add-news-form{
    width: 73%;
    margin-top: 10px;
    height: 80%;
}

.wrapper{
    height: 90%;
    margin-bottom: -50px;
}

.wrapper:after {
    content: "";
    display: block;
}

#login-form{
    margin-top: 15%;
}

.button-block{
    display: inline-flex;
}

.button-in-list{
    margin-right: 3px;
}

#newsForm{
    padding-right: 10px;
}

#single-news-pagination{
    bottom: 0;
    margin-bottom: 0;
    width:100%;
    position: absolute;
}

.btn-wrapper{
    display: flex;
    margin-left: 0;
}

#btn-filter{
    margin-right: 3px;
}

.btn-edit{
    float: right;
    clear: both;
    margin-right: 50px;
    margin-top: 30px;
}

.active{
    text-shadow: #59e5b0 0 0 10px;
}
